@import "./grid";
$cardHeight:130px;
$cardWidth:80px;
body{
    background-color: rgb(1, 94, 1);
}
.title{
    text-align: center;
}
span.title{
    *{
    display: inline-block;
    }
}
.down {
    margin: 0;
    img {
        width: $cardWidth;
        height: $cardHeight;
        margin: 0;
      }
} 
.card{
    &.up{
        font-size: 1em;
        position: relative;
        background-color: white;
        width:$cardWidth;
        height:$cardHeight;
    }
}
#player1-div{
    span{
    display: flex;
    }   
}
#player3-div{
    span{
    display: flex;
    }
}
.player-deck{
    *{
        margin: 20px;
    }
}
button{
    width:150;
    height: 150px;
    font-size: 3em;
    border-radius: 50%;
}
.card.selected{
    border-style: solid;
    border-width: 3px;
}
span.player-title{
    display:flex;
}