body{
    background-color: green;
}
.title{
    text-align: center;
}
span.title>*{
    display: inline-block;
}
.grid-container {
    display: grid;
    grid-gap: 50px 100px;
}
.grid-item {
    border-style: solid;
    padding: 20px;
    text-align: center;
}
.grid-item:nth-child(1){
    //player1
    grid-column: 2/span 3 ;
    grid-row: 1;
}
.grid-item:nth-child(2){
    //player2
    grid-column: 5;
    grid-row: 2/span 4;
    
}
.grid-item:nth-child(3){
    //player3
    grid-column: 2/span 3 ;
    grid-row: 6;
}
.grid-item:nth-child(4){
    //player4
    grid-column: 1;
    grid-row: 2/span 4;
}
.grid-item:nth-child(5){
    //table
    grid-column: 2;
    grid-row: 3/span 1;
}
.grid-item:nth-child(6){
    //pile
    grid-column: 4;
    grid-row: 3/span 1;
}
.grid-item:nth-child(7){
    //yaniv button
    grid-column: 3;
    grid-row: 3/span 1;
}

.down > img {
    width: 150px;
    height: 220px;
  }

.card.up{
    position: relative;
    background-color: white;
    width:150px;
    height:220px;
}
.card{
    align-items: center;
}
#player1-div>span{
    display: flex;
}
#player3-div>span{
    display: flex;
}
.player-deck>*{
    margin: 20px;
}
#yaniv-button{
    width:200px;
    height: 200px;
    font-size: 3em;
    border-radius: 50%;
}